# Fraud detection

Original: https://github.com/oreilly-mlsec/book-resources/blob/master/chapter2/logistic-regression-fraud-detection.ipynb

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

In [3]:
# Read in the data from the CSV file
df = pd.read_csv('payment_fraud.csv')

In [7]:
df.head(30)

,accountAgeDays,numItems,localTime,paymentMethod,paymentMethodAgeDays,label
0,29,1,4.745402,paypal,28.204861,0
1,725,1,4.742303,storecredit,0.000000,0
2,845,1,4.921318,creditcard,0.000000,0
3,503,1,4.886641,creditcard,0.000000,0
4,2000,1,5.040929,creditcard,0.000000,0
5,119,1,4.962055,paypal,0.000000,0
6,2000,1,4.921349,paypal,0.000000,0
7,371,1,4.876771,creditcard,0.000000,0
8,2000,1,4.748314,creditcard,0.000000,0
9,4,1,4.461622,creditcard,0.000000,0
10,26,1,4.745402,paypal,0.000000,0
11,2000,1,4.505662,creditcard,0.000694,0
12,3,1,4.962055,creditcard,2.690972,0
13,3,1,4.921318,creditcard,2.069444,0
14,23,1,4.745402,creditcard,0.001389,0
15,5,1,4.921349,paypal,4.036111,0
16,1208,1,4.836982,creditcard,0.000694,0
17,11,1,4.921349,creditcard,10.865972,0
18,123,1,4.748314,creditcard,0.000694,0
19,2000,1,4.895263,creditcard,248.774306,0
20,1672,1,5.034622,creditcard,978.752778,0
21,36,1,4.742303,creditcard,0.014583,0
22,16,1,4.886641,creditcard,15.796528,0
23,278,1,5.034622,creditcard,6.892361,0
24,223,1,4.748314,creditcard,0.000000,0
25,30,1,4.057414,creditcard,0.000000,0
26,2,1,4.921349,creditcard,0.000000,0
27,2000,1,3.483951,creditcard,503.425000,0
28,1936,1,4.057414,creditcard,635.641667,0
29,2000,1,4.921318,creditcard,948.806944,0

In [13]:
df.describe()

,accountAgeDays,numItems,localTime,paymentMethodAgeDays,label
count,39221.000000,39221.000000,39221.000000,39221.000000,39221.000000
mean,857.563984,1.084751,4.748232,122.641326,0.014278
std,804.788212,0.566899,0.389360,283.569177,0.118636
min,1.000000,1.000000,0.421214,0.000000,0.000000
25%,72.000000,1.000000,4.742303,0.000000,0.000000
50%,603.000000,1.000000,4.886641,0.012500,0.000000
75%,1804.000000,1.000000,4.962055,87.510417,0.000000
max,2000.000000,29.000000,5.040929,1999.580556,1.000000

In [15]:
df['label'].value_counts()

0    38661
1      560
Name: label, dtype: int64

In [16]:
# Convert categorical feature into dummy variables with one-hot encoding
df = pd.get_dummies(df, columns=['paymentMethod'])
df.sample(3)

,accountAgeDays,numItems,localTime,paymentMethodAgeDays,label,paymentMethod_creditcard,paymentMethod_paypal,paymentMethod_storecredit
20546,2000,1,4.886641,0.00000,0,0,1,0
5768,1534,1,4.886641,0.00000,0,0,1,0
21485,1065,1,5.017904,0.06875,0,1,0,0

In [59]:
# Split dataset up into train and test sets
# Try 0.33, 0.1, 0.9996
X_train, X_test, y_train, y_test = train_test_split(
    df.drop('label', axis=1), df['label'],
    test_size=0.1, random_state=17)

In [60]:
# Initialize and train classifier model
clf = LogisticRegression().fit(X_train, y_train)

# Make predictions on test set
y_pred = clf.predict(X_test)

D:\MachineLearning\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [61]:
# Compare test set predictions with ground truth labels
print(accuracy_score(y_pred, y_test))
print(confusion_matrix(y_test, y_pred))

1.0
[[3873    0]
 [   0   50]]